SIVEDI/Connected Services/ServicePedidos/ServicePedidos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePedidos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50416/ServicePedidos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50416/ServicePedidos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50416/ServicePedidos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" />
      <xsd:import schemaLocation="http://localhost:50416/ServicePedidos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePedidos_getConsultaPedidosCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:getConsultaPedidosCliente" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getConsultaPedidosCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:getConsultaPedidosClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getListaPreciosTabla_InputMessage">
    <wsdl:part name="parameters" element="tns:getListaPreciosTabla" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getListaPreciosTabla_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListaPreciosTablaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_insListaPrecios_InputMessage">
    <wsdl:part name="parameters" element="tns:insListaPrecios" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_insListaPrecios_OutputMessage">
    <wsdl:part name="parameters" element="tns:insListaPreciosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getlistaPreciosProd_InputMessage">
    <wsdl:part name="parameters" element="tns:getlistaPreciosProd" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getlistaPreciosProd_OutputMessage">
    <wsdl:part name="parameters" element="tns:getlistaPreciosProdResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_iuListaPreciosProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:iuListaPreciosProducto" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_iuListaPreciosProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:iuListaPreciosProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getlistaPreciosProdExporta_InputMessage">
    <wsdl:part name="parameters" element="tns:getlistaPreciosProdExporta" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getlistaPreciosProdExporta_OutputMessage">
    <wsdl:part name="parameters" element="tns:getlistaPreciosProdExportaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getProductoNombreLista_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductoNombreLista" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getProductoNombreLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductoNombreListaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getProductoNombreListaProd_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductoNombreListaProd" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getProductoNombreListaProd_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductoNombreListaProdResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_updPreciosProdcuto_InputMessage">
    <wsdl:part name="parameters" element="tns:updPreciosProdcuto" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_updPreciosProdcuto_OutputMessage">
    <wsdl:part name="parameters" element="tns:updPreciosProdcutoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_DelCodigoListaPreciosProd_InputMessage">
    <wsdl:part name="parameters" element="tns:DelCodigoListaPreciosProd" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_DelCodigoListaPreciosProd_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelCodigoListaPreciosProdResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getProductoNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductoNombre" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getProductoNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductoNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getCodigoVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:getCodigoVenta" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getCodigoVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCodigoVentaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_DelCodigoVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:DelCodigoVenta" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_DelCodigoVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelCodigoVentaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_iuCodigoVenta_InputMessage">
    <wsdl:part name="parameters" element="tns:iuCodigoVenta" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_iuCodigoVenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:iuCodigoVentaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getEquivalencias_InputMessage">
    <wsdl:part name="parameters" element="tns:getEquivalencias" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getEquivalencias_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEquivalenciasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getCombos_InputMessage">
    <wsdl:part name="parameters" element="tns:getCombos" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getCombos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCombosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getProductoPedidos_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductoPedidos" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getProductoPedidos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductoPedidosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getClientePedido_InputMessage">
    <wsdl:part name="parameters" element="tns:getClientePedido" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getClientePedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:getClientePedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getClienteListaPrecios_InputMessage">
    <wsdl:part name="parameters" element="tns:getClienteListaPrecios" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getClienteListaPrecios_OutputMessage">
    <wsdl:part name="parameters" element="tns:getClienteListaPreciosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getProductoCombos_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductoCombos" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_getProductoCombos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductoCombosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePedidos">
    <wsdl:operation name="getConsultaPedidosCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/getConsultaPedidosCliente" message="tns:IServicePedidos_getConsultaPedidosCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/getConsultaPedidosClienteResponse" message="tns:IServicePedidos_getConsultaPedidosCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListaPreciosTabla">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/getListaPreciosTabla" message="tns:IServicePedidos_getListaPreciosTabla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/getListaPreciosTablaResponse" message="tns:IServicePedidos_getListaPreciosTabla_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insListaPrecios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/insListaPrecios" message="tns:IServicePedidos_insListaPrecios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/insListaPreciosResponse" message="tns:IServicePedidos_insListaPrecios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getlistaPreciosProd">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/getlistaPreciosProd" message="tns:IServicePedidos_getlistaPreciosProd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/getlistaPreciosProdResponse" message="tns:IServicePedidos_getlistaPreciosProd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="iuListaPreciosProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/iuListaPreciosProducto" message="tns:IServicePedidos_iuListaPreciosProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/iuListaPreciosProductoResponse" message="tns:IServicePedidos_iuListaPreciosProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getlistaPreciosProdExporta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/getlistaPreciosProdExporta" message="tns:IServicePedidos_getlistaPreciosProdExporta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/getlistaPreciosProdExportaResponse" message="tns:IServicePedidos_getlistaPreciosProdExporta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductoNombreLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/getProductoNombreLista" message="tns:IServicePedidos_getProductoNombreLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/getProductoNombreListaResponse" message="tns:IServicePedidos_getProductoNombreLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductoNombreListaProd">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/getProductoNombreListaProd" message="tns:IServicePedidos_getProductoNombreListaProd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/getProductoNombreListaProdResponse" message="tns:IServicePedidos_getProductoNombreListaProd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updPreciosProdcuto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/updPreciosProdcuto" message="tns:IServicePedidos_updPreciosProdcuto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/updPreciosProdcutoResponse" message="tns:IServicePedidos_updPreciosProdcuto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelCodigoListaPreciosProd">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/DelCodigoListaPreciosProd" message="tns:IServicePedidos_DelCodigoListaPreciosProd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/DelCodigoListaPreciosProdResponse" message="tns:IServicePedidos_DelCodigoListaPreciosProd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductoNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/getProductoNombre" message="tns:IServicePedidos_getProductoNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/getProductoNombreResponse" message="tns:IServicePedidos_getProductoNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCodigoVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/getCodigoVenta" message="tns:IServicePedidos_getCodigoVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/getCodigoVentaResponse" message="tns:IServicePedidos_getCodigoVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelCodigoVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/DelCodigoVenta" message="tns:IServicePedidos_DelCodigoVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/DelCodigoVentaResponse" message="tns:IServicePedidos_DelCodigoVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="iuCodigoVenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/iuCodigoVenta" message="tns:IServicePedidos_iuCodigoVenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/iuCodigoVentaResponse" message="tns:IServicePedidos_iuCodigoVenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEquivalencias">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/getEquivalencias" message="tns:IServicePedidos_getEquivalencias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/getEquivalenciasResponse" message="tns:IServicePedidos_getEquivalencias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCombos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/getCombos" message="tns:IServicePedidos_getCombos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/getCombosResponse" message="tns:IServicePedidos_getCombos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductoPedidos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/getProductoPedidos" message="tns:IServicePedidos_getProductoPedidos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/getProductoPedidosResponse" message="tns:IServicePedidos_getProductoPedidos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getClientePedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/getClientePedido" message="tns:IServicePedidos_getClientePedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/getClientePedidoResponse" message="tns:IServicePedidos_getClientePedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getClienteListaPrecios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/getClienteListaPrecios" message="tns:IServicePedidos_getClienteListaPrecios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/getClienteListaPreciosResponse" message="tns:IServicePedidos_getClienteListaPrecios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductoCombos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/getProductoCombos" message="tns:IServicePedidos_getProductoCombos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/getProductoCombosResponse" message="tns:IServicePedidos_getProductoCombos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePedidos" type="tns:IServicePedidos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getConsultaPedidosCliente">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/getConsultaPedidosCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListaPreciosTabla">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/getListaPreciosTabla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insListaPrecios">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/insListaPrecios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getlistaPreciosProd">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/getlistaPreciosProd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iuListaPreciosProducto">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/iuListaPreciosProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getlistaPreciosProdExporta">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/getlistaPreciosProdExporta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductoNombreLista">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/getProductoNombreLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductoNombreListaProd">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/getProductoNombreListaProd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updPreciosProdcuto">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/updPreciosProdcuto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCodigoListaPreciosProd">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/DelCodigoListaPreciosProd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductoNombre">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/getProductoNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCodigoVenta">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/getCodigoVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCodigoVenta">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/DelCodigoVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iuCodigoVenta">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/iuCodigoVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEquivalencias">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/getEquivalencias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCombos">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/getCombos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductoPedidos">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/getProductoPedidos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClientePedido">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/getClientePedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClienteListaPrecios">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/getClienteListaPrecios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductoCombos">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/getProductoCombos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePedidos">
    <wsdl:port name="BasicHttpBinding_IServicePedidos" binding="tns:BasicHttpBinding_IServicePedidos">
      <soap:address location="http://localhost:50416/ServicePedidos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>