SIVEDI/Connected Services/ServicePedidos/ServicePedidos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50416/ServicePedidos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" />
  <xs:import schemaLocation="http://localhost:50416/ServicePedidos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" />
  <xs:element name="getConsultaPedidosCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConsultaPedidosClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getConsultaPedidosClienteResult" nillable="true" type="q1:ArrayOfPedidosClienteTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListaPreciosTabla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoListaPrecios" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListaPreciosTablaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getListaPreciosTablaResult" nillable="true" type="q2:ArrayOfListaPreciosTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insListaPrecios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="listaPrecios" nillable="true" type="q3:ListaPrecios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insListaPreciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insListaPreciosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getlistaPreciosProd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoProducto" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoListaPrecio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getlistaPreciosProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getlistaPreciosProdResult" nillable="true" type="q4:ArrayOfListaPreciosProductoComboBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iuListaPreciosProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="productoListaPrecio" nillable="true" type="q5:ProductoListaPrecio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iuListaPreciosProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iuListaPreciosProductoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getlistaPreciosProdExporta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoProducto" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoListaPrecio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getlistaPreciosProdExportaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getlistaPreciosProdExportaResult" nillable="true" type="q6:ArrayOfListaPreciosProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductoNombreLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strNombreProducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCodigoListaPrecios" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductoNombreListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getProductoNombreListaResult" nillable="true" type="q7:ArrayOfListaPreciosProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductoNombreListaProd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strNombreProducto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCodigoListaPrecios" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductoNombreListaProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getProductoNombreListaProdResult" nillable="true" type="q8:ArrayOfListaPreciosProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updPreciosProdcuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="productoListaPrecio" nillable="true" type="q9:ProductoListaPrecio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updPreciosProdcutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updPreciosProdcutoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCodigoListaPreciosProd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoVenta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCodigoListaPreciosProdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelCodigoListaPreciosProdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductoNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strReferencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strNombreProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductoNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getProductoNombreResult" nillable="true" type="q10:ArrayOfAsignaCodigoVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCodigoVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoProducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCodigoVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getCodigoVentaResult" nillable="true" type="q11:ArrayOfCodigoVentaTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCodigoVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoVenta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCodigoVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelCodigoVentaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iuCodigoVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="codigoVenta" nillable="true" type="q12:CodigoVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iuCodigoVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iuCodigoVentaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEquivalencias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoEquivalencia" type="xs:int" />
        <xs:element minOccurs="0" name="strCodigoSolicita" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEquivalenciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getEquivalenciasResult" nillable="true" type="q13:ArrayOfEquivalenciasTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCombos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoCombo" type="xs:int" />
        <xs:element minOccurs="0" name="strCodigoVenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCodigoListaPrecios" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCombosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getCombosResult" nillable="true" type="q14:ArrayOfCombosTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductoPedidos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigoVenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCodigoListaPrecios" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductoPedidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getProductoPedidosResult" nillable="true" type="q15:ArrayOfProductoPredidoTablas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientePedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strIdentificacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientePedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getClientePedidoResult" nillable="true" type="q16:ArrayOfCliente_pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClienteListaPrecios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="strIdentificacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClienteListaPreciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getClienteListaPreciosResult" nillable="true" type="q17:ArrayOfClienteListaPrecios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductoCombos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoCombo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductoCombosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getProductoCombosResult" nillable="true" type="q18:ArrayOfProductosCombo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListaPreciosXcampana">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoCampana" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListaPreciosXcampanaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getListaPreciosXcampanaResult" nillable="true" type="q19:ArrayOfListaPreciosCampana" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>