SIVEDI/Connected Services/ServicioGeneral/ServicioGeneral1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="blnCambiaPassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="blnEstado" type="xs:boolean" />
      <xs:element minOccurs="0" name="blnResultado" type="xs:boolean" />
      <xs:element minOccurs="0" name="intCodigoPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="strEmailUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strNombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUsuario" nillable="true" type="tns:LoginUsuario" />
  <xs:complexType name="ArrayOfmoduloPadre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="moduloPadre" nillable="true" type="tns:moduloPadre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmoduloPadre" nillable="true" type="tns:ArrayOfmoduloPadre" />
  <xs:complexType name="moduloPadre">
    <xs:sequence>
      <xs:element minOccurs="0" name="MOD_CDESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_CIMAGEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_CPAGINA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_NID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MOD_NPADRE" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="moduloPadre" nillable="true" type="tns:moduloPadre" />
  <xs:complexType name="ArrayOfmoduloHijo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="moduloHijo" nillable="true" type="tns:moduloHijo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmoduloHijo" nillable="true" type="tns:ArrayOfmoduloHijo" />
  <xs:complexType name="moduloHijo">
    <xs:sequence>
      <xs:element minOccurs="0" name="MOD_CDESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_CIMAGEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_CPAGINA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_NID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MOD_NPADRE" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="moduloHijo" nillable="true" type="tns:moduloHijo" />
  <xs:complexType name="ArrayOfperfiles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="perfiles" nillable="true" type="tns:perfiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfperfiles" nillable="true" type="tns:ArrayOfperfiles" />
  <xs:complexType name="perfiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="ESTADODESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="perfiles" nillable="true" type="tns:perfiles" />
  <xs:complexType name="usuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="APELLIDOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="COD_PERFIL" type="xs:int" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="LOGIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usuarios" nillable="true" type="tns:usuarios" />
  <xs:complexType name="TipoDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoDocumento" nillable="true" type="tns:TipoDocumento" />
  <xs:complexType name="TipoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="COBRA_FLETE" type="xs:boolean" />
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoCliente" nillable="true" type="tns:TipoCliente" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CABEZA_GRUPO" type="xs:boolean" />
      <xs:element minOccurs="0" name="CAM_NID_ANTEPENULTIMA_CAMPANA" type="xs:int" />
      <xs:element minOccurs="0" name="CAM_NID_INGRESO" type="xs:int" />
      <xs:element minOccurs="0" name="CAM_NID_PENULTIMA_CAMPANA" type="xs:int" />
      <xs:element minOccurs="0" name="CAM_NID_ULTIMA_CAMPANA" type="xs:int" />
      <xs:element minOccurs="0" name="CIU_NID" type="xs:int" />
      <xs:element minOccurs="0" name="COBRA_FLETE" type="xs:boolean" />
      <xs:element minOccurs="0" name="CODIGO" type="xs:decimal" />
      <xs:element minOccurs="0" name="CUENTA_BLOQUEADA" type="xs:boolean" />
      <xs:element minOccurs="0" name="CUPO_CREDITO" type="xs:decimal" />
      <xs:element minOccurs="0" name="DEP_NID" type="xs:int" />
      <xs:element minOccurs="0" name="DIRECCION_DOMICILIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIRECCION_ENTREGA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ECV_NID" type="xs:int" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESA_NID" type="xs:int" />
      <xs:element minOccurs="0" name="ESA_NID_ANTERIOR" type="xs:int" />
      <xs:element minOccurs="0" name="ESINGRESO" type="xs:boolean" />
      <xs:element minOccurs="0" name="ESTRATO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FECHA_NACIMIENTO" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_VINCULACION" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FIN_NID" type="xs:int" />
      <xs:element minOccurs="0" name="FORMA_PAGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FPG_NID" type="xs:int" />
      <xs:element minOccurs="0" name="GEN_NID" type="xs:int" />
      <xs:element minOccurs="0" name="GEOREFERENCIADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID_REFERIDO_POR" type="xs:decimal" />
      <xs:element minOccurs="0" name="LIDER" type="xs:boolean" />
      <xs:element minOccurs="0" name="MTB_NID" type="xs:int" />
      <xs:element minOccurs="0" name="NUMERO_IDENTIFICACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAI_NID" type="xs:int" />
      <xs:element minOccurs="0" name="PRIMER_APELLIDO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRIMER_NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROFESION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RAZON_BLOQUEO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_CID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEC_CID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEGUNDO_APELLIDO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEGUNDO_NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TDO_NID" type="xs:int" />
      <xs:element minOccurs="0" name="TELEFONO_CELULAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO_FIJO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO_OFICINA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TER_CID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIC_NID" type="xs:int" />
      <xs:element minOccurs="0" name="ULTIMO_ESTADO_ACTIVIDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZON_CID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ReferenciaCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CIUDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO" type="xs:decimal" />
      <xs:element minOccurs="0" name="CODIGO_CLIENTE" type="xs:int" />
      <xs:element minOccurs="0" name="CODIGO_TIPO_REFERENCIA" type="xs:int" />
      <xs:element minOccurs="0" name="DIRECCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARENTESCO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEL_CELULAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEL_FIJO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_REFERENCIA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferenciaCliente" nillable="true" type="tns:ReferenciaCliente" />
  <xs:complexType name="UnidadMedida">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABREVIATURA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadMedida" nillable="true" type="tns:UnidadMedida" />
  <xs:complexType name="Generos">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Generos" nillable="true" type="tns:Generos" />
  <xs:complexType name="formasIngreso">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="formasIngreso" nillable="true" type="tns:formasIngreso" />
  <xs:complexType name="EstadoCivil">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoCivil" nillable="true" type="tns:EstadoCivil" />
  <xs:complexType name="EstadoActividad">
    <xs:sequence>
      <xs:element minOccurs="0" name="ESA_CDESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESA_NCAMPANA_CONTROLA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ESA_NESTADO_PASA_CONTROL_CAMPANA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ESA_NESTADO_PASA_CONTROL_PEDIDO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ESA_NESTADO_SIGUIENTE_CON_PED" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ESA_NESTADO_SIGUIENTE_SIN_PED" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ESA_NID" type="xs:int" />
      <xs:element minOccurs="0" name="ESA_NNUMERO_PEDIDO_CONTROLA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ESA_OESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="ESA_OES_ESTADO_INACTIVIDAD" type="xs:boolean" />
      <xs:element minOccurs="0" name="ESA_OES_ESTADO_VINCULACION" type="xs:boolean" />
      <xs:element minOccurs="0" name="ESA_OINGRESA_VINCULACION" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoActividad" nillable="true" type="tns:EstadoActividad" />
  <xs:complexType name="campanas">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="CONSECUTIVO" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="FECHA_FINAL" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_INICIAL" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NIVEL" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="campanas" nillable="true" type="tns:campanas" />
  <xs:complexType name="Pais">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="CODIGO_UNIVERSAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pais" nillable="true" type="tns:Pais" />
  <xs:complexType name="Departamentos">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="CODIGO_DANE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_PAIS" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Departamentos" nillable="true" type="tns:Departamentos" />
  <xs:complexType name="Ciudades">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="CODIGO_DANE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_DEPARTAMENTO" type="xs:int" />
      <xs:element minOccurs="0" name="CODIGO_PAIS" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ciudades" nillable="true" type="tns:Ciudades" />
  <xs:complexType name="ClaseResponsable">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaseResponsable" nillable="true" type="tns:ClaseResponsable" />
  <xs:complexType name="ResponsableTerritorio">
    <xs:sequence>
      <xs:element minOccurs="0" name="BARRIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="COD_CIU" type="xs:int" />
      <xs:element minOccurs="0" name="COD_CLR" type="xs:int" />
      <xs:element minOccurs="0" name="DIRECCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="IDENTIFICACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_PILA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO_CELULAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO_FIJO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponsableTerritorio" nillable="true" type="tns:ResponsableTerritorio" />
  <xs:complexType name="Regionales">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_PAIS" type="xs:int" />
      <xs:element minOccurs="0" name="CODIGO_RESPONSABLE" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="GRUPO_FACTURACION" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Regionales" nillable="true" type="tns:Regionales" />
  <xs:complexType name="Zonas">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_REGIONAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_RESPONSABLE" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="GRUPO_FACTURACION" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zonas" nillable="true" type="tns:Zonas" />
  <xs:complexType name="Secciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_RESPONSABLE" type="xs:int" />
      <xs:element minOccurs="0" name="CODIGO_ZONA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Secciones" nillable="true" type="tns:Secciones" />
  <xs:complexType name="Territorios">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_SECCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Territorios" nillable="true" type="tns:Territorios" />
  <xs:complexType name="ArrayOfTipoReferencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoReferencia" nillable="true" type="tns:TipoReferencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoReferencia" nillable="true" type="tns:ArrayOfTipoReferencia" />
  <xs:complexType name="TipoReferencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoReferencia" nillable="true" type="tns:TipoReferencia" />
  <xs:complexType name="ArrayOfFormasPago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormasPago" nillable="true" type="tns:FormasPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormasPago" nillable="true" type="tns:ArrayOfFormasPago" />
  <xs:complexType name="FormasPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormasPago" nillable="true" type="tns:FormasPago" />
  <xs:complexType name="CupoMinimo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUPO_MINIMO" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CupoMinimo" nillable="true" type="tns:CupoMinimo" />
  <xs:complexType name="ArrayOfProductoCodigoVenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoCodigoVenta" nillable="true" type="tns:ProductoCodigoVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoCodigoVenta" nillable="true" type="tns:ArrayOfProductoCodigoVenta" />
  <xs:complexType name="ProductoCodigoVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="CODIGO_VENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_VENTA_NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUNTOS" type="xs:int" />
      <xs:element minOccurs="0" name="REFERENCIA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoCodigoVenta" nillable="true" type="tns:ProductoCodigoVenta" />
  <xs:complexType name="Productos">
    <xs:sequence>
      <xs:element minOccurs="0" name="CENTRO_GASTO_OBSEQUIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CENTRO_GASTO_VENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="CODIGO_UNIDAD_MEDIDA" type="xs:int" />
      <xs:element minOccurs="0" name="DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:boolean" />
      <xs:element minOccurs="0" name="IVA" type="xs:decimal" />
      <xs:element minOccurs="0" name="MOTIVO_OBSEQUIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOTIVO_VENTA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUNTOS" type="xs:int" />
      <xs:element minOccurs="0" name="REFERENCIA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Productos" nillable="true" type="tns:Productos" />
</xs:schema>