SIVEDI/Connected Services/ServicioGeneral/ServicioGeneral2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65358/ServicioGeneral.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" />
  <xs:import schemaLocation="http://localhost:65358/ServicioGeneral.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" />
  <xs:element name="ingresaAplicativo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresaAplicativoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="ingresaAplicativoResult" nillable="true" type="q1:LoginUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getModuloPadre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getModuloPadreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getModuloPadreResult" nillable="true" type="q2:ArrayOfmoduloPadre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getModuloHijo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoPadre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getModuloHijoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getModuloHijoResult" nillable="true" type="q3:ArrayOfmoduloHijo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPerfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoPerfil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPerfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getPerfilesResult" nillable="true" type="q4:ArrayOfperfiles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insPerfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="perfil" nillable="true" type="q5:perfiles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insPerfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insPerfilesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="LoginUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getUsuariosResult" nillable="true" type="q6:ArrayOfusuariosTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="usuarioModel" nillable="true" type="q7:usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insUsuariosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTiposDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoTipoDocumento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTiposDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getTiposDocumentoResult" nillable="true" type="q8:ArrayOftipoDocumentoTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insTipoDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="TipoDocumento" nillable="true" type="q9:TipoDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insTipoDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insTipoDocumentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTipoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoTipoCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTipoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getTipoClienteResult" nillable="true" type="q10:ArrayOfTipoClienteTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTipoClienteTabla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoTipoCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTipoClienteTablaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getTipoClienteTablaResult" nillable="true" type="q11:TipoCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="cliente" nillable="true" type="q12:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insReferenciasCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="referenciaCliente" nillable="true" type="q13:ReferenciaCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insReferenciasClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insReferenciasClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insTipoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="tipoCliente" nillable="true" type="q14:TipoCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insTipoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insTipoClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnidadMedida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoUnidadMedida" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnidadMedidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getUnidadMedidaResult" nillable="true" type="q15:ArrayOfUnidadesMedidaTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insUnidadMedida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="unidadMedida" nillable="true" type="q16:UnidadMedida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insUnidadMedidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insUnidadMedidaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoGenero" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenerosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="GetGenerosResult" nillable="true" type="q17:ArrayOfGenerosTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insGeneros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="generos" nillable="true" type="q18:Generos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insGenerosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insGenerosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getformasIngreso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoFormaIngreso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getformasIngresoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getformasIngresoResult" nillable="true" type="q19:ArrayOfFormasIngresoTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insFormasIngreso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="formasIngreso" nillable="true" type="q20:formasIngreso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insFormasIngresoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insFormasIngresoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadoCivil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoEstadoCivil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadoCivilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getEstadoCivilResult" nillable="true" type="q21:ArrayOfEstadoCivilTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insEstadoCivil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="estadoCivil" nillable="true" type="q22:EstadoCivil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insEstadoCivilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insEstadoCivilResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadoActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoEstadoActividad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadoActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getEstadoActividadResult" nillable="true" type="q23:ArrayOfEstadoActividadTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadoActividadCamposTabla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoEstadoActividad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadoActividadCamposTablaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getEstadoActividadCamposTablaResult" nillable="true" type="q24:EstadoActividad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insEstadoActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="estadoActividad" nillable="true" type="q25:EstadoActividad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insEstadoActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insEstadoActividadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampanas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoCampana" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampanasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getCampanasResult" nillable="true" type="q26:ArrayOfCampanasTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insCampanas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="Campanas" nillable="true" type="q27:campanas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insCampanasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insCampanasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPaises">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoPais" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getPaisesResult" nillable="true" type="q28:ArrayOfPaisTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insPaises">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="pais" nillable="true" type="q29:Pais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insPaisesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartamentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoPais" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoDepartamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getDepartamentosResult" nillable="true" type="q30:ArrayOfDepartamentoTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartamentoTabla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoPais" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoDepartamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartamentoTablaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getDepartamentoTablaResult" nillable="true" type="q31:Departamentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="departamentos" nillable="true" type="q32:Departamentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insDepartamentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCiudades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoDepartamento" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoCiudad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCiudadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getCiudadesResult" nillable="true" type="q33:ArrayOfCiudadesTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCiudadesTabla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoDepartamento" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoCiudad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCiudadesTablaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getCiudadesTablaResult" nillable="true" type="q34:Ciudades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insCiudades">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="ciudades" nillable="true" type="q35:Ciudades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insCiudadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insCiudadesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClaseResponsable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoClaseResponsable" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClaseResponsableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getClaseResponsableResult" nillable="true" type="q36:ArrayOfClaseResponsableTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insClaseResponsable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="claseResponsable" nillable="true" type="q37:ClaseResponsable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insClaseResponsableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insClaseResponsableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResponsableTerritorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResponsableTerritorioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getResponsableTerritorioResult" nillable="true" type="q38:ArrayOfResponsableTerritorioTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insResponsableTerritorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="responsableTerritorio" nillable="true" type="q39:ResponsableTerritorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insResponsableTerritorioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insResponsableTerritorioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResponsableFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strIdentificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strNombreResponsable" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResponsableFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getResponsableFiltroResult" nillable="true" type="q40:ArrayOfResponsableTerritorioFiltro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegionales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoRegional" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoPais" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegionalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getRegionalesResult" nillable="true" type="q41:ArrayOfRegionalesTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insRegionales">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="regionales" nillable="true" type="q42:Regionales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insRegionalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insRegionalesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getZonas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="strCodigoRegional" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodigoZona" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getZonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getZonasResult" nillable="true" type="q43:ArrayOfZonasTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insZonas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="zonas" nillable="true" type="q44:Zonas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insZonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insZonasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="strCodigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodigoSeccion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSeccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getSeccionesResult" nillable="true" type="q45:ArrayOfSeccionesTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSeccionFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="strCodigoSeccion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSeccionFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getSeccionFiltroResult" nillable="true" type="q46:SeccionFiltro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insSecciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="secciones" nillable="true" type="q47:Secciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insSeccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insSeccionesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTerritorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="strCodigoSeccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCodigoTerritorio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTerritorioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getTerritorioResult" nillable="true" type="q48:ArrayOfTerritorioTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTerritorioFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="strCodigoTerrirorio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTerritorioFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getTerritorioFiltroResult" nillable="true" type="q49:TerritorioFiltro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insTerritorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="territorios" nillable="true" type="q50:Territorios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insTerritorioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insTerritorioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConsultaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strIdentificacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConsultaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getConsultaClienteResult" nillable="true" type="q51:ClienteConsultaTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReferenciaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReferenciaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getReferenciaClienteResult" nillable="true" type="q52:ArrayOfReferenciaClienteTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTipoReferencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoTipoReferencia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTipoReferenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getTipoReferenciaResult" nillable="true" type="q53:ArrayOfTipoReferencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFormaPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoformaPago" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFormaPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getFormaPagoResult" nillable="true" type="q54:ArrayOfFormasPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCupoMinimoCredito">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCupoMinimoCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getCupoMinimoCreditoResult" nillable="true" type="q55:CupoMinimo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoProducto" type="xs:int" />
        <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCodigoVenta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getProductosResult" nillable="true" type="q56:ArrayOfProductoTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductosCodigoVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="strCodigoVenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoLista" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductosCodigoVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getProductosCodigoVentaResult" nillable="true" type="q57:ArrayOfProductoCodigoVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="productos" nillable="true" type="q58:Productos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insProductoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTiposProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="strTipoProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTiposProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getTiposProductoResult" nillable="true" type="q59:ArrayOfTipoProductoTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConcursoFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCampanaEntrega" type="xs:int" />
        <xs:element minOccurs="0" name="strNombreConcruso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConcursoFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getConcursoFiltroResult" nillable="true" type="q60:ArrayOfConcursoVentaTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getZonasConcursoVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoConcurso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getZonasConcursoVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getZonasConcursoVentasResult" nillable="true" type="q61:ArrayOfZonaConcursoVentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadoActividadConcursoVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoConcurso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadoActividadConcursoVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getEstadoActividadConcursoVentaResult" nillable="true" type="q62:ArrayOfEstadoActividadConcursoVentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListaEstadosActiDisponiblesConcursoVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoConcurso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListaEstadosActiDisponiblesConcursoVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getListaEstadosActiDisponiblesConcursoVentasResult" nillable="true" type="q63:ArrayOfEstadoActividadConcursoVentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getZonasAsignadasConcuusoVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoConcurso" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoDetalle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getZonasAsignadasConcuusoVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" minOccurs="0" name="getZonasAsignadasConcuusoVentasResult" nillable="true" type="q64:ArrayOfZonasAsignadasConcursoVentasTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampanasConcursoVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoConcurso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampanasConcursoVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getCampanasConcursoVentasResult" nillable="true" type="q65:ArrayOfCampanasConcursoVentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDatosZonaCampanaConcursoVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoConcurso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDatosZonaCampanaConcursoVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getDatosZonaCampanaConcursoVentasResult" nillable="true" type="q66:ArrayOfZonasConcursoVentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPremiosConcursoVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoConcurso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPremiosConcursoVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getPremiosConcursoVentasResult" nillable="true" type="q67:ArrayOfPremiosConcursoVentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConcursosVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intOpcion" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoConcurso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConcursosVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getConcursosVentasResult" nillable="true" type="q68:ArrayOfConcursoVentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTipoClienteConcursosVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoConcurso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTipoClienteConcursosVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getTipoClienteConcursosVentasResult" nillable="true" type="q69:ArrayOfTipoClienteConcursoVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampanasAsignadasConcursoVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoConcurso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCampanasAsignadasConcursoVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="getCampanasAsignadasConcursoVentasResult" nillable="true" type="q70:ArrayOfCampanasConcursoVentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insConcursoVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="concursoVentas" nillable="true" type="q71:ConcursoVentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insConcursoVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insConcursoVentasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delTipoClienteConcurso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoConcurso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delTipoClienteConcursoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delTipoClienteConcursoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insTipoClienteConcursoVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="tipoClienteConcurso" nillable="true" type="q72:TipoClienteConcurso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insTipoClienteConcursoVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insTipoClienteConcursoVentasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insZonasConcursoVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="zonaConcursoVentasIns" nillable="true" type="q73:ZonaConcursoVentasIns" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insZonasConcursoVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insZonasConcursoVentasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delTerritorioConcurso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoTerritorio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delTerritorioConcursoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delTerritorioConcursoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iuCampanasConcursoVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="campanasConcursoVentasIns" nillable="true" type="q74:CampanasConcursoVentasIns" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iuCampanasConcursoVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iuCampanasConcursoVentasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCampanaConcursoVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoCampana" type="xs:int" />
        <xs:element minOccurs="0" name="intCodigoconcurso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCampanaConcursoVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delCampanaConcursoVentaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iuEstadoActividadConcursoVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="estadoActividadIns" nillable="true" type="q75:EstadoActividadIns" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iuEstadoActividadConcursoVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iuEstadoActividadConcursoVentasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEstadoActividadConcursoVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoActividadAsignado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delEstadoActividadConcursoVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delEstadoActividadConcursoVentasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insProductoConcursoVentas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="obsequioConcursoVentaIns" nillable="true" type="q76:ObsequioConcursoVentaIns" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insProductoConcursoVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insProductoConcursoVentasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updCampanaZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCodigoAsignado" type="xs:int" />
        <xs:element minOccurs="0" name="intValorValidaCampana" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updCampanaZonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updCampanaZonaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>