SIVEDI/Connected Services/ServicioGeneral/ServicioGeneral.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioGeneral" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65358/ServicioGeneral.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65358/ServicioGeneral.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65358/ServicioGeneral.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" />
      <xsd:import schemaLocation="http://localhost:65358/ServicioGeneral.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SIVEDI.Clases.TABLAS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioGeneral_ingresaAplicativo_InputMessage">
    <wsdl:part name="parameters" element="tns:ingresaAplicativo" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_ingresaAplicativo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ingresaAplicativoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getModuloPadre_InputMessage">
    <wsdl:part name="parameters" element="tns:getModuloPadre" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getModuloPadre_OutputMessage">
    <wsdl:part name="parameters" element="tns:getModuloPadreResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getModuloHijo_InputMessage">
    <wsdl:part name="parameters" element="tns:getModuloHijo" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getModuloHijo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getModuloHijoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getPerfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:getPerfiles" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getPerfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPerfilesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insPerfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:insPerfiles" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insPerfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:insPerfilesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsuarios" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:insUsuarios" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:insUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getTiposDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:getTiposDocumento" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getTiposDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTiposDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insTipoDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:insTipoDocumento" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insTipoDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:insTipoDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getTipoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:getTipoCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getTipoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTipoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getTipoClienteTabla_InputMessage">
    <wsdl:part name="parameters" element="tns:getTipoClienteTabla" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getTipoClienteTabla_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTipoClienteTablaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:insCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:insClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insReferenciasCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:insReferenciasCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insReferenciasCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:insReferenciasClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insTipoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:insTipoCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insTipoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:insTipoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getUnidadMedida_InputMessage">
    <wsdl:part name="parameters" element="tns:getUnidadMedida" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getUnidadMedida_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUnidadMedidaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insUnidadMedida_InputMessage">
    <wsdl:part name="parameters" element="tns:insUnidadMedida" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insUnidadMedida_OutputMessage">
    <wsdl:part name="parameters" element="tns:insUnidadMedidaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_GetGeneros_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneros" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_GetGeneros_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenerosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insGeneros_InputMessage">
    <wsdl:part name="parameters" element="tns:insGeneros" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insGeneros_OutputMessage">
    <wsdl:part name="parameters" element="tns:insGenerosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getformasIngreso_InputMessage">
    <wsdl:part name="parameters" element="tns:getformasIngreso" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getformasIngreso_OutputMessage">
    <wsdl:part name="parameters" element="tns:getformasIngresoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insFormasIngreso_InputMessage">
    <wsdl:part name="parameters" element="tns:insFormasIngreso" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insFormasIngreso_OutputMessage">
    <wsdl:part name="parameters" element="tns:insFormasIngresoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getEstadoCivil_InputMessage">
    <wsdl:part name="parameters" element="tns:getEstadoCivil" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getEstadoCivil_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEstadoCivilResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insEstadoCivil_InputMessage">
    <wsdl:part name="parameters" element="tns:insEstadoCivil" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insEstadoCivil_OutputMessage">
    <wsdl:part name="parameters" element="tns:insEstadoCivilResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getEstadoActividad_InputMessage">
    <wsdl:part name="parameters" element="tns:getEstadoActividad" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getEstadoActividad_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEstadoActividadResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getEstadoActividadCamposTabla_InputMessage">
    <wsdl:part name="parameters" element="tns:getEstadoActividadCamposTabla" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getEstadoActividadCamposTabla_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEstadoActividadCamposTablaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insEstadoActividad_InputMessage">
    <wsdl:part name="parameters" element="tns:insEstadoActividad" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insEstadoActividad_OutputMessage">
    <wsdl:part name="parameters" element="tns:insEstadoActividadResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getCampanas_InputMessage">
    <wsdl:part name="parameters" element="tns:getCampanas" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getCampanas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCampanasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insCampanas_InputMessage">
    <wsdl:part name="parameters" element="tns:insCampanas" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insCampanas_OutputMessage">
    <wsdl:part name="parameters" element="tns:insCampanasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getPaises_InputMessage">
    <wsdl:part name="parameters" element="tns:getPaises" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getPaises_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPaisesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insPaises_InputMessage">
    <wsdl:part name="parameters" element="tns:insPaises" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insPaises_OutputMessage">
    <wsdl:part name="parameters" element="tns:insPaisesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getDepartamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:getDepartamentos" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getDepartamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDepartamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getDepartamentoTabla_InputMessage">
    <wsdl:part name="parameters" element="tns:getDepartamentoTabla" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getDepartamentoTabla_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDepartamentoTablaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:insDepartamento" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:insDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getCiudades_InputMessage">
    <wsdl:part name="parameters" element="tns:getCiudades" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getCiudades_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCiudadesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getCiudadesTabla_InputMessage">
    <wsdl:part name="parameters" element="tns:getCiudadesTabla" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getCiudadesTabla_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCiudadesTablaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insCiudades_InputMessage">
    <wsdl:part name="parameters" element="tns:insCiudades" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insCiudades_OutputMessage">
    <wsdl:part name="parameters" element="tns:insCiudadesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getClaseResponsable_InputMessage">
    <wsdl:part name="parameters" element="tns:getClaseResponsable" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getClaseResponsable_OutputMessage">
    <wsdl:part name="parameters" element="tns:getClaseResponsableResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insClaseResponsable_InputMessage">
    <wsdl:part name="parameters" element="tns:insClaseResponsable" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insClaseResponsable_OutputMessage">
    <wsdl:part name="parameters" element="tns:insClaseResponsableResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getResponsableTerritorio_InputMessage">
    <wsdl:part name="parameters" element="tns:getResponsableTerritorio" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getResponsableTerritorio_OutputMessage">
    <wsdl:part name="parameters" element="tns:getResponsableTerritorioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insResponsableTerritorio_InputMessage">
    <wsdl:part name="parameters" element="tns:insResponsableTerritorio" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insResponsableTerritorio_OutputMessage">
    <wsdl:part name="parameters" element="tns:insResponsableTerritorioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getResponsableFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:getResponsableFiltro" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getResponsableFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:getResponsableFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getRegionales_InputMessage">
    <wsdl:part name="parameters" element="tns:getRegionales" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getRegionales_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRegionalesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insRegionales_InputMessage">
    <wsdl:part name="parameters" element="tns:insRegionales" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insRegionales_OutputMessage">
    <wsdl:part name="parameters" element="tns:insRegionalesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getZonas_InputMessage">
    <wsdl:part name="parameters" element="tns:getZonas" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getZonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getZonasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insZonas_InputMessage">
    <wsdl:part name="parameters" element="tns:insZonas" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insZonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:insZonasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getSecciones_InputMessage">
    <wsdl:part name="parameters" element="tns:getSecciones" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getSecciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSeccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getSeccionFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:getSeccionFiltro" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getSeccionFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSeccionFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insSecciones_InputMessage">
    <wsdl:part name="parameters" element="tns:insSecciones" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insSecciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:insSeccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getTerritorio_InputMessage">
    <wsdl:part name="parameters" element="tns:getTerritorio" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getTerritorio_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTerritorioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getTerritorioFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:getTerritorioFiltro" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getTerritorioFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTerritorioFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insTerritorio_InputMessage">
    <wsdl:part name="parameters" element="tns:insTerritorio" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_insTerritorio_OutputMessage">
    <wsdl:part name="parameters" element="tns:insTerritorioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getConsultaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:getConsultaCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getConsultaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:getConsultaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getReferenciaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:getReferenciaCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getReferenciaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReferenciaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getTipoReferencia_InputMessage">
    <wsdl:part name="parameters" element="tns:getTipoReferencia" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getTipoReferencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTipoReferenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getFormaPago_InputMessage">
    <wsdl:part name="parameters" element="tns:getFormaPago" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getFormaPago_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFormaPagoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getCupoMinimoCredito_InputMessage">
    <wsdl:part name="parameters" element="tns:getCupoMinimoCredito" />
  </wsdl:message>
  <wsdl:message name="IServicioGeneral_getCupoMinimoCredito_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCupoMinimoCreditoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioGeneral">
    <wsdl:operation name="ingresaAplicativo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/ingresaAplicativo" message="tns:IServicioGeneral_ingresaAplicativo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/ingresaAplicativoResponse" message="tns:IServicioGeneral_ingresaAplicativo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getModuloPadre">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getModuloPadre" message="tns:IServicioGeneral_getModuloPadre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getModuloPadreResponse" message="tns:IServicioGeneral_getModuloPadre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getModuloHijo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getModuloHijo" message="tns:IServicioGeneral_getModuloHijo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getModuloHijoResponse" message="tns:IServicioGeneral_getModuloHijo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPerfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getPerfiles" message="tns:IServicioGeneral_getPerfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getPerfilesResponse" message="tns:IServicioGeneral_getPerfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insPerfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insPerfiles" message="tns:IServicioGeneral_insPerfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insPerfilesResponse" message="tns:IServicioGeneral_insPerfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getUsuarios" message="tns:IServicioGeneral_getUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getUsuariosResponse" message="tns:IServicioGeneral_getUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insUsuarios" message="tns:IServicioGeneral_insUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insUsuariosResponse" message="tns:IServicioGeneral_insUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTiposDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getTiposDocumento" message="tns:IServicioGeneral_getTiposDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getTiposDocumentoResponse" message="tns:IServicioGeneral_getTiposDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insTipoDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insTipoDocumento" message="tns:IServicioGeneral_insTipoDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insTipoDocumentoResponse" message="tns:IServicioGeneral_insTipoDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTipoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getTipoCliente" message="tns:IServicioGeneral_getTipoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getTipoClienteResponse" message="tns:IServicioGeneral_getTipoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTipoClienteTabla">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getTipoClienteTabla" message="tns:IServicioGeneral_getTipoClienteTabla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getTipoClienteTablaResponse" message="tns:IServicioGeneral_getTipoClienteTabla_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insCliente" message="tns:IServicioGeneral_insCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insClienteResponse" message="tns:IServicioGeneral_insCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insReferenciasCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insReferenciasCliente" message="tns:IServicioGeneral_insReferenciasCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insReferenciasClienteResponse" message="tns:IServicioGeneral_insReferenciasCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insTipoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insTipoCliente" message="tns:IServicioGeneral_insTipoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insTipoClienteResponse" message="tns:IServicioGeneral_insTipoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUnidadMedida">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getUnidadMedida" message="tns:IServicioGeneral_getUnidadMedida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getUnidadMedidaResponse" message="tns:IServicioGeneral_getUnidadMedida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insUnidadMedida">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insUnidadMedida" message="tns:IServicioGeneral_insUnidadMedida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insUnidadMedidaResponse" message="tns:IServicioGeneral_insUnidadMedida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGeneros">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/GetGeneros" message="tns:IServicioGeneral_GetGeneros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/GetGenerosResponse" message="tns:IServicioGeneral_GetGeneros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insGeneros">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insGeneros" message="tns:IServicioGeneral_insGeneros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insGenerosResponse" message="tns:IServicioGeneral_insGeneros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getformasIngreso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getformasIngreso" message="tns:IServicioGeneral_getformasIngreso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getformasIngresoResponse" message="tns:IServicioGeneral_getformasIngreso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insFormasIngreso">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insFormasIngreso" message="tns:IServicioGeneral_insFormasIngreso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insFormasIngresoResponse" message="tns:IServicioGeneral_insFormasIngreso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEstadoCivil">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getEstadoCivil" message="tns:IServicioGeneral_getEstadoCivil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getEstadoCivilResponse" message="tns:IServicioGeneral_getEstadoCivil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insEstadoCivil">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insEstadoCivil" message="tns:IServicioGeneral_insEstadoCivil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insEstadoCivilResponse" message="tns:IServicioGeneral_insEstadoCivil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEstadoActividad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getEstadoActividad" message="tns:IServicioGeneral_getEstadoActividad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getEstadoActividadResponse" message="tns:IServicioGeneral_getEstadoActividad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEstadoActividadCamposTabla">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getEstadoActividadCamposTabla" message="tns:IServicioGeneral_getEstadoActividadCamposTabla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getEstadoActividadCamposTablaResponse" message="tns:IServicioGeneral_getEstadoActividadCamposTabla_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insEstadoActividad">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insEstadoActividad" message="tns:IServicioGeneral_insEstadoActividad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insEstadoActividadResponse" message="tns:IServicioGeneral_insEstadoActividad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCampanas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getCampanas" message="tns:IServicioGeneral_getCampanas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getCampanasResponse" message="tns:IServicioGeneral_getCampanas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insCampanas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insCampanas" message="tns:IServicioGeneral_insCampanas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insCampanasResponse" message="tns:IServicioGeneral_insCampanas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPaises">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getPaises" message="tns:IServicioGeneral_getPaises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getPaisesResponse" message="tns:IServicioGeneral_getPaises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insPaises">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insPaises" message="tns:IServicioGeneral_insPaises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insPaisesResponse" message="tns:IServicioGeneral_insPaises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDepartamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getDepartamentos" message="tns:IServicioGeneral_getDepartamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getDepartamentosResponse" message="tns:IServicioGeneral_getDepartamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDepartamentoTabla">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getDepartamentoTabla" message="tns:IServicioGeneral_getDepartamentoTabla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getDepartamentoTablaResponse" message="tns:IServicioGeneral_getDepartamentoTabla_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insDepartamento" message="tns:IServicioGeneral_insDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insDepartamentoResponse" message="tns:IServicioGeneral_insDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCiudades">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getCiudades" message="tns:IServicioGeneral_getCiudades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getCiudadesResponse" message="tns:IServicioGeneral_getCiudades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCiudadesTabla">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getCiudadesTabla" message="tns:IServicioGeneral_getCiudadesTabla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getCiudadesTablaResponse" message="tns:IServicioGeneral_getCiudadesTabla_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insCiudades">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insCiudades" message="tns:IServicioGeneral_insCiudades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insCiudadesResponse" message="tns:IServicioGeneral_insCiudades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getClaseResponsable">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getClaseResponsable" message="tns:IServicioGeneral_getClaseResponsable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getClaseResponsableResponse" message="tns:IServicioGeneral_getClaseResponsable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insClaseResponsable">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insClaseResponsable" message="tns:IServicioGeneral_insClaseResponsable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insClaseResponsableResponse" message="tns:IServicioGeneral_insClaseResponsable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getResponsableTerritorio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getResponsableTerritorio" message="tns:IServicioGeneral_getResponsableTerritorio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getResponsableTerritorioResponse" message="tns:IServicioGeneral_getResponsableTerritorio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insResponsableTerritorio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insResponsableTerritorio" message="tns:IServicioGeneral_insResponsableTerritorio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insResponsableTerritorioResponse" message="tns:IServicioGeneral_insResponsableTerritorio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getResponsableFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getResponsableFiltro" message="tns:IServicioGeneral_getResponsableFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getResponsableFiltroResponse" message="tns:IServicioGeneral_getResponsableFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRegionales">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getRegionales" message="tns:IServicioGeneral_getRegionales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getRegionalesResponse" message="tns:IServicioGeneral_getRegionales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insRegionales">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insRegionales" message="tns:IServicioGeneral_insRegionales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insRegionalesResponse" message="tns:IServicioGeneral_insRegionales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getZonas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getZonas" message="tns:IServicioGeneral_getZonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getZonasResponse" message="tns:IServicioGeneral_getZonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insZonas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insZonas" message="tns:IServicioGeneral_insZonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insZonasResponse" message="tns:IServicioGeneral_insZonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSecciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getSecciones" message="tns:IServicioGeneral_getSecciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getSeccionesResponse" message="tns:IServicioGeneral_getSecciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSeccionFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getSeccionFiltro" message="tns:IServicioGeneral_getSeccionFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getSeccionFiltroResponse" message="tns:IServicioGeneral_getSeccionFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insSecciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insSecciones" message="tns:IServicioGeneral_insSecciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insSeccionesResponse" message="tns:IServicioGeneral_insSecciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTerritorio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getTerritorio" message="tns:IServicioGeneral_getTerritorio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getTerritorioResponse" message="tns:IServicioGeneral_getTerritorio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTerritorioFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getTerritorioFiltro" message="tns:IServicioGeneral_getTerritorioFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getTerritorioFiltroResponse" message="tns:IServicioGeneral_getTerritorioFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insTerritorio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/insTerritorio" message="tns:IServicioGeneral_insTerritorio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/insTerritorioResponse" message="tns:IServicioGeneral_insTerritorio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getConsultaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getConsultaCliente" message="tns:IServicioGeneral_getConsultaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getConsultaClienteResponse" message="tns:IServicioGeneral_getConsultaCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReferenciaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getReferenciaCliente" message="tns:IServicioGeneral_getReferenciaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getReferenciaClienteResponse" message="tns:IServicioGeneral_getReferenciaCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTipoReferencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getTipoReferencia" message="tns:IServicioGeneral_getTipoReferencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getTipoReferenciaResponse" message="tns:IServicioGeneral_getTipoReferencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFormaPago">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getFormaPago" message="tns:IServicioGeneral_getFormaPago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getFormaPagoResponse" message="tns:IServicioGeneral_getFormaPago_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCupoMinimoCredito">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioGeneral/getCupoMinimoCredito" message="tns:IServicioGeneral_getCupoMinimoCredito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioGeneral/getCupoMinimoCreditoResponse" message="tns:IServicioGeneral_getCupoMinimoCredito_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioGeneral" type="tns:IServicioGeneral">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ingresaAplicativo">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/ingresaAplicativo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getModuloPadre">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getModuloPadre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getModuloHijo">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getModuloHijo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerfiles">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getPerfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insPerfiles">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insPerfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsuarios">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insUsuarios">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTiposDocumento">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getTiposDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insTipoDocumento">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insTipoDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTipoCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getTipoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTipoClienteTabla">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getTipoClienteTabla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insReferenciasCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insReferenciasCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insTipoCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insTipoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnidadMedida">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getUnidadMedida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insUnidadMedida">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insUnidadMedida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeneros">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/GetGeneros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insGeneros">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insGeneros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getformasIngreso">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getformasIngreso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insFormasIngreso">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insFormasIngreso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstadoCivil">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getEstadoCivil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insEstadoCivil">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insEstadoCivil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstadoActividad">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getEstadoActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstadoActividadCamposTabla">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getEstadoActividadCamposTabla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insEstadoActividad">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insEstadoActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCampanas">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getCampanas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insCampanas">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insCampanas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaises">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insPaises">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepartamentos">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepartamentoTabla">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getDepartamentoTabla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insDepartamento">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCiudades">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getCiudades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCiudadesTabla">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getCiudadesTabla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insCiudades">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insCiudades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClaseResponsable">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getClaseResponsable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insClaseResponsable">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insClaseResponsable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResponsableTerritorio">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getResponsableTerritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insResponsableTerritorio">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insResponsableTerritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResponsableFiltro">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getResponsableFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRegionales">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getRegionales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insRegionales">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insRegionales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getZonas">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getZonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insZonas">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insZonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSecciones">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getSecciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSeccionFiltro">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getSeccionFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insSecciones">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insSecciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTerritorio">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getTerritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTerritorioFiltro">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getTerritorioFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insTerritorio">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/insTerritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConsultaCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getConsultaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReferenciaCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getReferenciaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTipoReferencia">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getTipoReferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFormaPago">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getFormaPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCupoMinimoCredito">
      <soap:operation soapAction="http://tempuri.org/IServicioGeneral/getCupoMinimoCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioGeneral">
    <wsdl:port name="BasicHttpBinding_IServicioGeneral" binding="tns:BasicHttpBinding_IServicioGeneral">
      <soap:address location="http://localhost:65358/ServicioGeneral.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>