SIVEDI/Connected Services/ServicioLiquidacion/ServiceLiquidacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="preliquidaPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dttPedidoOriginal" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intCodigoListaPrecios" type="xs:int" />
        <xs:element minOccurs="0" name="strConexion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCodigoEstadoActiCliente" type="xs:int" />
        <xs:element minOccurs="0" name="strCodigoZonaCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCodigoTipoCliente" type="xs:int" />
        <xs:element minOccurs="0" name="blnEsIngreso" type="xs:boolean" />
        <xs:element minOccurs="0" name="strIdentificacionCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCodigoCiudadCliente" type="xs:int" />
        <xs:element minOccurs="0" name="blnCobraFlete" type="xs:boolean" />
        <xs:element minOccurs="0" name="intTipoCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="preliquidaPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="preliquidaPedidoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>