SIVEDI.APIGeneral/Connected Services/ServicioGeneral/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="blnCambiaPassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="blnEstado" type="xs:boolean" />
      <xs:element minOccurs="0" name="blnResultado" type="xs:boolean" />
      <xs:element minOccurs="0" name="intCodigoPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="intIdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="strEmailUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strNombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUsuario" nillable="true" type="tns:LoginUsuario" />
</xs:schema>