SIVEDI.APIGeneral/Connected Services/ServicioGeneral/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65358/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" />
  <xs:element name="ingresaAplicativo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresaAplicativoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SIVEDI.Clases" minOccurs="0" name="ingresaAplicativoResult" nillable="true" type="q1:LoginUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>